@using GPVBlazor.Models
@using System.Collections.Generic

@if (repository != null)
{
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">@repository.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@repository.Language</h6>
                <p class="card-text">@repository.Description</p>
                <a href="@repository.Homepage" class="card-link">Homepage</a>
                <a href="@repository.Url" class="card-link">Github</a>
                <a href="@repository.CloneUrl" class="card-link">Clone URL</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Created: @repository.CreatedAt</small>
                <small class="text-muted">Last Pushed: @repository.PushedAt</small>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Repository? repository { get; set; }
}
