@using GPVBlazor.Models

@if (UserStats == null) { return; }

<div class="card mt-4 mb-3">
    <div class="card-header">
        <h3>Statistics</h3>
    </div>
    <div class="card-body">
        <div class="row">
            @if (user != null && user?.CreatedAt != null)
            {
                var profileAge = DateTimeOffset.UtcNow.Year - user.CreatedAt.Year;
                <div class="col-12">
                    <p><strong>Profile Age:</strong> @profileAge years</p>
                </div>
            }
            <div class="col-12">
                <p><strong>Number of Public Repositories:</strong> @user?.PublicRepos</p>
            </div>
            <div class="col-12">
                <p><strong>Number of Public Gists:</strong> @user?.PublicGists</p>
            </div>
            <div class="col-12">
                <p><strong>Total Languages:</strong> @UserStats.TotalLanguages</p>
            </div>
            <div class="col-12">
                <p><strong>Total Stars:</strong> @UserStats.TotalStars</p>
            </div>
            <div class="col-12">
                <p><strong>Total Topics:</strong> @UserStats.TotalTopics</p>
            </div>
            <div class="col-12">
                <p><strong>Total Forks:</strong> @UserStats.TotalForks</p>
            </div>
            <div class="col-12">
                <p><strong>Total Open Issues:</strong> @UserStats.TotalOpenIssues</p>
            </div>
            <div class="col-12">
                <p><strong>Average Stars per Repository:</strong> @UserStats.AverageStarsPerRepository</p>
            </div>
            <div class="col-12">
                <p><strong>Average Forks per Repository:</strong> @UserStats.AverageForksPerRepository</p>
            </div>
            <div class="col-12">
                <p><strong>Most Starred Repository:</strong><RepositoryDisplay repository="@UserStats.MostStarred" /></p>
            </div>
            <div class="col-12">
                <p><strong>Latest Updated Repository:</strong> <RepositoryDisplay repository="@UserStats.LatestUpdatedRepository" /></p>
            </div>
            <div class="col-12">
                <p><strong>Last Created Repository:</strong> <RepositoryDisplay repository="@UserStats.LastCreatedRepository" /></p>
            </div>
            <div class="col-12">
                <p><strong>Oldest Repository:</strong> <RepositoryDisplay repository="@UserStats.OldestRepository" /></p>
            </div>
            <div class="col-12">
                <p><strong>Longest Update Period Repository:</strong> <RepositoryDisplay repository="@UserStats.LongestUpdatePeriod" /></p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public RepositoryStats? UserStats { get; set; }
    [Parameter] public List<Repository>? Repositories { get; set; }
    [Parameter] public User? user { get; set; }
}