@using GPVBlazor.Models
@using GPVBlazor.Components.Displays
@using GPVBlazor.Components.Displays.Charts

@if (UserStats is not null)
{
    <div class="box mt-4 mb-3">
        <h3 class="title is-3">Statistics</h3>
        <div>
            <div class="columns is-multiline">
                @if (user != null && user?.CreatedAt != null)
                {
                    var profileAge = DateTimeOffset.UtcNow.Year - user.CreatedAt.Year;
                    <div class="column is-4">
                        <p><strong>Profile Age:</strong> @profileAge years</p>
                    </div>
                }
                <div class="column is-4">
                    <strong>Number of Public Repositories:</strong> @UserStats.TotalRepositories
                </div>
                <div class="column is-4">
                    <strong>Number of Public Gists:</strong> @user?.PublicGists
                </div>
                <div class="column is-4">
                    <strong>Total Archived Repositories:</strong> @UserStats.TotalArchivedRepositories
                </div>
                <div class="column is-4">
                    <strong>Total Languages:</strong> @UserStats.TotalLanguages
                </div>
                <div class="column is-4">
                    <strong>Total Stars:</strong> @UserStats.TotalStars
                </div>
                <div class="column is-4">
                    <strong>Total Topics:</strong> @UserStats.TotalTopics
                </div>
                <div class="column is-4">
                    <strong>Total Forks:</strong> @UserStats.TotalForks
                </div>
                <div class="column is-4">
                    <strong>Number of Readme Added Repositories:</strong> @UserStats.TotalReadmes
                </div>
                <div class="column is-4">
                    <strong>Total Open Issues:</strong> @UserStats.TotalOpenIssues
                </div>
                <div class="column is-4">
                    <strong>Average Stars per Repository:</strong> @UserStats.AverageStarsPerRepository
                </div>
                <div class="column is-4">
                    <strong>Average Forks per Repository:</strong> @UserStats.AverageForksPerRepository
                </div>
                <div class="column is-4">
                    <RepositoryDisplay repository="@UserStats.MostStarred" Title="Most Starred Repository" />
                </div>
                <div class="column is-4">
                    <RepositoryDisplay repository="@UserStats.LatestUpdatedRepository" Title="Latest Updated Repository" />
                </div>
                <div class="column is-4">
                    <RepositoryDisplay repository="@UserStats.LastCreatedRepository" Title="Last Created Repository" />
                </div>
                <div class="column is-4">
                    <RepositoryDisplay repository="@UserStats.OldestRepository" Title="Oldest Repository" />
                </div>
                <div class="column is-4">
                    <RepositoryDisplay repository="@UserStats.LongestUpdatePeriod" Title="Longest Update Period Repository" />
                </div>
                <div class="column is-4">
                    <ChartDisplay Data="@UserStats.TopTopics" ChartType="@Charts.ChartDisplay.ChartTypes.pie" Title="Top Topics" />
                </div>
                <div class="column is-4">
                    <ChartDisplay Data="@UserStats.StarsPerRepository" ChartType="@Charts.ChartDisplay.ChartTypes.pie" Title="Stars per Repository" />
                </div>
                <div class="column is-4">
                    <ChartDisplay Data="@UserStats.UsedLanguages" ChartType="@Charts.ChartDisplay.ChartTypes.pie" Title="Top Used Languages" />
                </div>
                <div class="column is-4">
                    <ChartDisplay Data="@UserStats.UsedLicenses" ChartType="@Charts.ChartDisplay.ChartTypes.pie" Title="Top Used Licenses" />
                </div>
                <div class="column is-4">
                    <ChartDisplay Data="@UserStats.RepositoriesByYear" ChartType="@Charts.ChartDisplay.ChartTypes.pie" Title="Repositories by Year" />
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public RepositoryStats? UserStats { get; set; }
    [Parameter] public List<Repository>? Repositories { get; set; }
    [Parameter] public User? user { get; set; }
}